.about-us {
  width: 70%;
  height: calc(100vh - 190px);
  margin: 30px auto;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  color: rgba(69, 88, 207, 1);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  position: absolute;
  width: 95.6%;
}

.single p {
  text-align: justify;
  text-justify: inter-word;
  color: black;
}

.about-us img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
}

.go-back-btn img {
  width: 45px;
  height: 45px;
}
