.landing-page {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  width: 80vw;
  margin: 0 auto;
}

.main-container {
  grid-column: 2;
  grid-row: 2 / 4;
  background-color: white;
  height: calc(100vh - 170px);
  padding: 20px 30px;
  text-align: center;
  border-radius: 20px;
}

.chats-channels-list,
.participants-list {
  grid-row: 2 / 3;
  padding: 20px 3px 20px 7px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.chats {
  height: calc(100vh - 285px);
  overflow-y: auto;
}

.participants {
  height: calc(100vh - 485px);
  overflow-y: auto;
}

.chats-channels-list {
  grid-column: 1;
}

.participants-list {
  grid-column: 3;
}

.manage-participants-btns button,
.view-users-btn, 
.create-a-team {
  background-color: rgba(47, 69, 93, 1);
  border: 1px solid white;
  border-radius: 20px;
  padding: 12px;
  color: white;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  margin: 0.5em;
}

.add-btn:hover,
.view-users-btn:hover,
.create-a-team:hover {
  background-color: white;
  border-color: rgba(47, 69, 93, 1);
  color: rgba(47, 69, 93, 1);
}

.leave-btn:hover {
  background-color: rgba(183, 99, 105, 1);
  border-color: transparent;
  color: white;
}

.search-users > input {
  border: none;
  border-radius: 20px;
  background-color: rgba(245, 247, 251, 1);
  padding: 15px;
}

.chat-item {
  background-color: #f2f1ec;
  border: 1px solid #f2f1ec;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.chat-item:hover {
  border: 1px solid black;
  font-weight: bold;
}
