.landing-page {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}

.search-users {
  display: inline;
}

.main-container {
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(242, 241, 236, 1);
  height: calc(100vh - 110px);
  padding: 20px 30px;
  text-align: center;

  border-radius: 20px 20px 0 0;
}

.chats-channels-list,
.participants-list {
  grid-row: 1;
  padding: 20px 30px;
  text-align: center;
}

.chats-channels-list {
  grid-column: 1;
}

.participants-list {
  grid-column: 3;
}

.chats-channels-inner,
.owner-inner,
.participants-inner {
  background-color: rgba(242, 241, 236, 1);
  padding: 0.1em;
  border-radius: 20px;
  height: fit-content;
}

.owner-inner {
  margin-bottom: 30px;
}

.participants-inner {
  margin-bottom: 15px;
}

.manage-participants-btns button {
  background-color: rgba(47, 69, 93, 1);
  border: 1px solid rgba(242, 241, 236, 1);
  border-radius: 20px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  margin: 0.5em;
}

.add-btn:hover {
  background-color: rgba(242, 241, 236, 1);
  border-color: transparent;
  color: rgba(47, 69, 93, 1);
  outline: 1px solid rgba(47, 69, 93, 1);
  outline-offset: -5px;
}

.leave-btn:hover {
  background-color: rgba(183, 99, 105, 1);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  outline: 1px solid rgba(47, 69, 93, 1);
  outline-offset: -5px;
}
