.landing-page {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  max-width: 96%;
  margin: 0 auto;
}

.main-container {
  grid-column: 2;
  grid-row: 2 / 4;
  background-color: white;
  height: calc(100vh - 170px);
  padding: 20px 30px;
  text-align: center;
  border-radius: 20px;
}

.chats-channels-list,
.participants-list {
  grid-row: 2 / 3;
  padding: 20px 3px 20px 7px;
  text-align: center;
  background-color: rgba(47, 69, 93, 0.85);
  border-radius: 10px;
  color: white;
}

.chats {
  height: calc(100vh - 285px);
  overflow-y: auto;
}

div.participants {
  height: calc(100vh - 445px);
  overflow-y: auto;
}

.chats-channels-list {
  grid-column: 1;
}

.participants-list {
  grid-column: 3;
}

.manage-participants-btns button,
.view-users-btn, 
.create-a-team {
  background-image: linear-gradient(to right, #16222A 0%, #2f455d 51%, #16222A  100%);
  padding: 11px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 20px;   
  border: 1px solid black;
}

.add-btn:hover,
.view-users-btn:hover,
.create-a-team:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.leave-btn:hover {
  background-color: rgba(183, 99, 105, 1);
  border-color: transparent;
  color: white;
}

.search-users > input {
  border: none;
  border-radius: 20px;
  background-color: rgba(245, 247, 251, 1);
  padding: 15px;
}

.chat-item {
  background-color: rgba(47, 69, 93, 0.9);
  color: white;
  padding: 6px;
  border: 1px solid rgba(47, 69, 93, 0.9);
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.chat-item:hover {
  border: 1px solid black;
  font-weight: bold;
}
