#modal-container {
  width: 20%;
  height: fit-content;
  border-radius: 12px;
  background-color: rgb(255,255,255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  z-index: 100;
  position: absolute;
  margin-left: 37%;
  margin-top: 10%;
}

#meeting-details-title {
  font-weight: bold;
  color: rgba(69, 88, 207, 1);
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 5px;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.close-btn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

#join-meeting-btn {
  margin-top: 13px;
  background-color: rgba(243, 214, 121, 1);
  padding: 5px;
  text-align: center;
  color:rgba(69, 88, 207, 1);;            
  border-radius: 10px;   
  border: none;
  font-size: 12pt;
  font-weight: 500;
}