.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 10px auto;
  border: 1px solid rgba(47, 69, 93, 0.7);
  border-radius: 10px;
  background-color: white;
}

.user-box img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.user-box p {
  line-height: 14px;
  height: 25px;
  display: table-cell;
  padding: 10px;
  text-align: justify;
}

.search-users {
  margin-bottom: 25px;
}

#add-remove-user-btn {
  border: none;
  background: none;
}

#add-remove-user-btn img {
  height: 30px;
  width: 30px;
}
