.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgba(236, 243, 252, 0.93);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
  position: relative;
}

/* img.user-box  {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
} */

.user-box p {
  line-height: 14px;
  height: 25px;
  display: table-cell;
  padding: 10px;
  text-align: justify;
}

.search-users {
  margin-bottom: 25px;
}

#add-remove-user-btn {
  border: none;
  background: none;
  padding: 4px;
  margin-right: 4px;
}

#add-remove-user-btn img {
  height: 25px;
  width: 25px;
}
