.about-us {
  width: 70%;
  height: fit-content;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
  background-color: rgba(242, 241, 236, 1);
  border-radius: 20px;
  color: #2f455d;
}

.about-us img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
