.channel-container {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel-container > hr {
  width: 50%;
}

.messages-container {
  overflow-y: auto;
}
