.channel-container {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.messages-container {
  overflow-y: auto;
  width: 90%;
  margin: 0 auto;
}
