.message-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 96.6%;
}

.message-textarea {
  border: 1px solid rgba(47, 69, 93, 1);
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgba(245, 247, 251, 1);
  width: 50em;
}

.emoji-btn,
.send-btn {
  background-color: rgba(47, 69, 93, 1);
  border: none;
  border-radius: 50%;
  font-size: 22pt;
  width: 1.8em;
  height: 1.8em;
  color: rgba(245, 247, 251, 1);
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.emoji-btn:hover,
.send-btn:hover {
  background-color: rgba(245, 247, 251, 1);
  border: 1px solid rgba(47, 69, 93, 1);
  color: rgba(47, 69, 93, 1);
}
