#join-meeting-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    background-color: #2f455d;
    color: white;
    margin-top: 5px;
}

#join-meeting-btn:hover {
    background-color: white;
    border-color: rgba(47, 69, 93, 1);
    color: rgba(47, 69, 93, 1);
}
