.default-avatar {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  align-self: center;
  margin-left: 20px;
  object-fit: cover;
  padding-top: 7px;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: #2f455d;
  height: 70px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}

#stats,
#navigation {
  display: flex;
  flex-wrap: wrap;
}

#stats > h4 {
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  font-size: 15px;
}

.header-btn {
  background-color: #2f455d;
  border: none;
  color: #ffffff;
  align-self: center;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  display: inline-block;
}

.header-btn:hover {
  text-decoration: underline;
}

#dropdown-menu-myteams {
  background-color: rgba(47, 69, 93, 0.9);
  position: absolute;
  margin-left: 155px;
  margin-top: 75px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#create-a-team-btn-header {
  border-radius: 10px;
  padding: 7px;
  margin-top: 9px;
  border: none;
  background-color: rgba(245, 247, 251, 1);
}

.team-item{
  color: white;
  text-decoration: none!;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
  margin: 0 5px 0 5px
}

.team-item:hover {
  font-weight: bold;
}