.user-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.create-team-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  margin: 0 auto;
}

.create-team-wrapper,
.list-of-added-participants  {
  border: 1px solid rgba(47, 69, 93, 1);
  border-radius: 10px;
  padding: 10%;
  background-color: rgba(47, 69, 93, 0.1);;
}

.search-users-create-team>input,
input.create-team-title {
  border: none;
  border-radius: 10px;
  background-color: rgba(245, 247, 251, 1);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(47, 69, 93, 1);
}