/* #message {
  padding: 1em;
} */

.message-header-1 {
  grid-column: 2;
  place-self: center;
}

.message-content-1 {
  grid-column: 1;
  text-align: right;
  place-self: right;
}

.message-header-2 {
  grid-column: 1;
  place-self: center;
}

.message-content-2 {
  grid-column: 2;
  text-align: left;
  place-self: left;
}

.message-1 {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto;
  color: white;
  margin: 10px;
  width: 70%;

  background-color: rgba(47, 69, 93, 1);
  border-radius: 20px 0px 20px 20px;
  margin-left: auto; 
  margin-right: 0;
}

.message-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  color: white;
  margin: 10px;
  width: 70%;

  background-color: gray;
  border-radius: 0px 20px 20px 20px;
}
