@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

body {
  margin: 0px;
  background-color: rgb(245, 247, 251);
  font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
}

button {
  font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
}

h3,
h4,
h5 {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.go-back-btn {
  margin-top: 20px;
  background: none;
  border: none;
}

.avatar-default {
  background: rgba(246, 203, 59, 0.5);
  height: 29px;
  width: 33px;
  border-radius: 50%;
  align-self: center;
  margin: 5px;
  object-fit: cover;
  font-size: larger;
  align-content: normal;
  padding-top: 4px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(69, 88, 207, 0.7);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 88, 207, 1);
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
